In [1]:
#load packages
import pandas as pd
import numpy as np

#read car_insurance data
car_insurance = pd.read_csv("../data/carInsurance.csv")
print(car_insurance.head(10))

   Id  Age          Job   Marital  Education  Default  Balance  HHInsurance  \
0   1   32   management    single   tertiary        0     1218            1
1   2   32  blue-collar   married    primary        0     1156            1
2   3   29   management    single   tertiary        0      637            1
3   4   25      student    single    primary        0      373            1
4   5   30   management   married   tertiary        0     2694            0
5   6   32   technician    single   tertiary        0     1625            0
6   7   37       admin.    single   tertiary        0     1000            1
7   8   35   management  divorced   tertiary        0      538            1
8   9   30       admin.   married  secondary        0      187            1
9  10   30  blue-collar   married  secondary        0        3            1

   CarLoan Communication  LastContactDay LastContactMonth  NoOfContacts  \
0        0     telephone              28              jan             2
1        0           NaN              26              may             5
2        0      cellular               3              jun             1
3        0      cellular              11              may             2
4        0      cellular               3              jun             1
5        0      cellular              22              may             1
6        0      cellular              17              mar             1
7        0           NaN              12              may             4
8        0      cellular              18              nov             1
9        1      cellular              12              may             2

   DaysPassed  PrevAttempts  Outcome CallStart   CallEnd  CarInsurance
0          -1             0      NaN  13:45:20  13:46:30             0
1          -1             0      NaN  14:49:03  14:52:08             0
2         119             1  failure  16:30:24  16:36:04             1
3          -1             0      NaN  12:06:43  12:20:22             1
4          -1             0      NaN  14:35:44  14:38:56             0
5         109             1  failure  14:58:08  15:11:24             1
6          -1             0      NaN  13:00:02  13:03:17             1
7          -1             0      NaN  15:39:43  15:40:49             0
8          -1             0      NaN  12:20:56  12:22:42             0
9          -1             0      NaN  09:22:20  09:27:46             0